@import "vars";
@import "reset";
@import "general";
@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider.min";

.header {
    &__inner {
        @extend %flex-sb;
        align-items: center;
        min-height: 41px;
        border-bottom: 1px solid #e6e5e5;
        @media (max-width: 544px) {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 10px;
        }
    }

    &__info {
        font-weight: 500;
        font-size: 11px;
        line-height: 21px;
        @media (max-width: 544px) {
            margin-top: 15px;
        }
    }
}

.logo-img {
    max-width: 175px;
    max-height: 42px;
}

.info-text {
    margin: 25px 0 30px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: 768px) {
        font-size: 16px;
    }
    span {
        color: #ffa800;
    }
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: minmax(470px, auto);
    gap: 30px;
    padding-bottom: 65px;
    @media (max-width: 1220px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
    }
    @media (max-width: 992px) {
        gap: 15px;
    }
    @media (max-width: 620px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-card {
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 30px;
    padding: 40px 30px 33px;
    text-align: center;
    @media (max-width: 992px) {
        padding: 30px 15px 20px;
    }

    &__title {
        text-align: left;
        max-width: 225px;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 55px;
    }

    &__label {
        font-size: 18px;
        line-height: 31px;
        text-align: left;
    }

    &__label-2 {
        margin-top: 60px;
    }

    &__wrap {
        display: inline-block;
        @media (max-width: 544px) {
            display: block;
        }
    }

    &__label-num,
    &__label-date {
        font-weight: 700;
        font-size: 30px;
        line-height: 31px;
    }

    &__img {
        margin: 0 auto 15px;
        max-width: 180px;
        max-height: 60px;
    }

    &__info {
        font-weight: 700;
        font-size: 14px;
        line-height: 11px;
        margin-bottom: 17px;
        span {
            display: block;
            margin-top: 3px;
            font-weight: 300;
            font-size: 9px;
            line-height: 11px;
            color: #a4a4a4;
        }
    }

    &__item {
        padding: 18px 0;
        @extend %flex-sb;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
    }

    &__item:last-child {
        border-bottom: 1px solid transparent;
    }

    &__left {
        text-align: left;
        max-width: 147px;
        width: 100%;
        padding-right: 7px;
        font-size: 16px;
        line-height: 20px;
    }

    &__right {
        max-width: 160px;
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        text-align: right;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    &__right.price {
        color: #e60000;
    }

    &__link {
        display: inline-block;
        margin-top: 22px;
        font-weight: 500;
        font-size: 18px;
        line-height: 31px;
        color: #fff;
        background: #ffa800;
        border-radius: 30px;
        padding: 9px 45px;
    }

    &__filter {
        margin-top: 66px;
        padding: 8px 52px;
        font-weight: 500;
        font-size: 18px;
        line-height: 31px;
        border: 1px solid #2d2d2d;
        border-radius: 30px;
    }
}

.footer {
    padding-bottom: 10px;
    background-color: #fff;
    &__inner {
        @extend %flex-sb;
        align-items: center;
        min-height: 55px;
        font-size: 10px;
        line-height: 14px;
        color: #000;
        font-family: "Open Sans", sans-serif;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__info {
        max-width: 730px;
        width: 100%;
        @media (max-width: 992px) {
            max-width: 100%;
            margin-bottom: 25px;
        }
        a {
            color: #ffa800;
        }
    }

    &__content {
        a {
            display: block;
            margin-top: 14px;
            color: #e60000;
        }
    }
}

.irs--flat .irs-line {
    height: 2px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    height: 3px;
    background-color: #e60000;
}

.irs--flat .irs-handle {
    top: 18px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(230, 0, 0, 0.25);
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}
.irs-min,
.irs-max,
.irs-single {
    display: none;
}
